@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.bs-head-font {
    font-family: 'Cinzel', serif;
}

.bs-body-font {
    font-family: 'Cinzel', serif;
}

.menu a.active {
    color: #EEFF25;
}

.drawer-side a {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 24px;
}

.menu li>*:not(ul):not(.menu-title):not(details).active {
    color: white;
    background-color: transparent !important;
}